body {
		background-image: url(gambar/1.jpg);
}

.register {
	margin: auto;
	width: 400px;
	background-color: white;
	padding: 50px;


}

.user, .email, .pass {
	outline: 0;
	width: 100%;
	padding: 20px 7px;
	margin: 8px 0;
	margin-bottom: 20px;
	display: inline-block;
	box-sizing: border-box;
	border: none;
	border-bottom: 2px solid blue;
}

button {
	background-color: blue;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
}

button:hover {
	opacity: 0.6
}